.Todo-body {
  background-color: white;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

hr {
  border: 2px #067ead solid;
  margin: 2rem auto;
  opacity: 1;
}

/* .divider {
  background-color: #067ead;
  width: 100%;
  height: 10px;
  margin: 2rem 0;
} */
.btn-flat {
  color: white;
  background-color: orange;
}
.btn-flat:hover {
  background-color: red;
  color: white;
}
